{% extends 'base_template.html' %}

{% block title %} {% endblock %}

{% block navbar-links %} {% endblock %}

{% block body %}

    <h1>Products</h1>
    <ul>
        {% for product in object_list %}

            <div class="jumbotron">
                <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object" src="{{ product.image_url }}" alt="{{ product.name }}" width=200>
                    </a>
                </div>
                <div class="media-body">
                    <h2>{{ product.name }}</h2>
                    <p><span class="label label-default">{{ product.seller }}</span></p>
                    <p>{{ product.description }}</p>
                    <p><a class="btn btn-primary btn-lg" href="product/{{ product.id }}" role="button">Learn more</a></p>
                </div>
            </div>

        {% endfor %}
    </ul>

{% endblock %}