{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block navbar-items %}

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">User</a>
        </li>
    </ul>

{% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>
    <div class="media">
        <div class="media-left">
           <a href="#">
               <img class="media-object" src="{{ product.image_url }}" alt="{{ product.name }}" height=500>
           </a>
        </div>
        <div class="media-body">
            <div class="jumbotron">
               <h2>{{ product.seller }}</h2>
            </div>
            <div class="jumbotron">
               <p>{{ product.description }}</p>
            </div>
            <p><a class="btn btn-lg btn-success" role="button">Buy</a></p>
        </div>
    </div>


{% endblock %}