<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coursework.Properties.Settings.ConnectionString" connectionString="Data Source=PICASSO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Coursework.Properties.Settings.The_progress_of_university_studentsConnectionString"
            connectionString="Data Source=PICASSO;Initial Catalog=&quot;The progress of university students&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Coursework.Properties.Settings.PrototypeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Prototype.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>