{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block navbar-items %}{% endblock %}

{% block body %}

    <!-- Cards -->
    <div id="cards" class="container mb-2 infinite-container" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
            <h3 class="mb-4">
                Phones
                <button type="button" class="btn btn-primary btn-sm btn-pill" data-toggle="modal" data-target="#addProductModal">+</button>
            </h3>
            <p>The phone in the 21st century is everything: a computer, a camera, a diary, a game console. Smartphone determines our status, so it is so important to buy the coolest phone 😎</p>
        </div>

        <div id="product-cards">
            {% for row in products %}
            <div class="row" id="row">

                {% for product in row %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <img class="card-img" src="{{ product.image_path }}" alt="{{ product.name }}" style="padding-top: 25px">
                            <div class="card-body">
                                <h4 class="card-title">{{ product.name }}</h4>
                                <p class="card-text">{{ product.short_description }}...</p>
                                <a href="/product/{{ product.id }}" class="btn btn-primary">Tell me more &rarr;</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

    </div>

    <!-- Add Product Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="product-form" method="post" enctype="multipart/form-data" action="/product/add_product/">
                      {% csrf_token %}
                      {% include "add_product_form.html" %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
