{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block navbar-items %} {% endblock %}

{% block body %}

    <div id="description" class="section py-4">
        <h3 class="section-title text-center m-5">
            Description 🍿
        </h3>

        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <a href="#">
                       <img class="media-object" src="{{ product.image_url }}" alt="{{ product.name }}" height=500>
                   </a>
                </div>
                <div class="col-6">
                    <h1>{{ product.name }}</h1>
                    <h4><span class="badge badge-pill badge-light">{{ product.seller }}</span></h4>
                    <p>{{ product.description }}</p>
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </div>
            </div>
        </div>
    </div>

    <div id="reviews" class="section py-4">
        <h3 class="section-title text-center m-5">
            Reviews 🔥
        </h3>

        <div class="container" id="review-cards">

            {% if reviews == None %}

                <p class="section-title text-center m-5" id = "no-reviews-title">
                    No reviews
                </p>

            {% else %}

                {% for row in reviews %}
                    <div class="row" id="review-cards-row" style="margin-bottom: 30px">
                        {% for review in row %}
                            <div class="col-6" id="review-card-container">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">@{{ review.username }}</h5>
                                    <p class="card-text">{{ review.description }}</p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            {% endif %}

        </div>
    </div>

    <div id="create-review" class="section py-4">
        <h3 class="section-title text-center m-5">
            Write review ✍️
        </h3>

        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-7">
                    <div class="card">
                        <div class="card-body">
                            <form action="/create_review/" method="POST" id="review-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="reviewInputText">Review</label>
                                            <textarea id="reviewInputText" class="form-control mb-4" rows="10" placeholder="Enter your message..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-success btn-pill d-flex ml-auto mr-auto" value="Send review">
                                <input id="product-id-value" type="hidden" value="{{ product.id }}">
                                <input id="reviews-count" type="hidden" value="{{ reviews_count }}">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}