<div class="form-group">
    <label for="productInputName">Name</label>
    <input class="form-control" name="productName" id="productInputName" placeholder="Enter product name">
</div>
<div class="form-group">
    <label for="productInputDescription">Description</label>
    <input class="form-control" name="productDescription" id="productInputDescription" placeholder="Enter product description">
</div>
<div class="form-group">
    <label for="productInputSeller">Seller</label>
    <input class="form-control" name="productSeller" id="productInputSeller" placeholder="Enter seller">
</div>
<div class="form-group">
    <label for="productInputImage">Photo</label>
    <br>
    <label class="custom-file">
      <input type="file" name="productImage" id="productInputImage" class="custom-file-input">
      <span class="custom-file-control"></span>
    </label>
</div>
<div class="container text-right" style="margin-top: 30px; margin-right: -10px">
    <button type="submit" id="product-form-button" class="btn btn-primary">🚀 Add</button>
</div>