<ul class="navbar-nav">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" style="padding-right: 20px">@{{ user.username }}</a>
        </li>
    {% endif %}
    <li class="nav-item">
        {% if user.is_authenticated %}
            <form method="post" action="/logout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Log out</button>
            </form>
        {% else %}
            <!-- Trigger -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Log in</button>
        {% endif %}
    </li>
</ul>

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form" method="post" action="/login/">
                  {% csrf_token %}
                  {% include "login_form.html" %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sign up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="signup-form" method="post" action="/signup/">
                    {% csrf_token %}
                    {% include "signup_form.html" %}
                </form>
            </div>
        </div>
    </div>
</div>
